db/asset-pipeline/meetingroom-occupancy/spec/RsrvEegeoSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:bdem="http://bloomberg.com/schemas/bdem" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bloomberg.com/internalsystems/RsrvEegeoSvc" targetNamespace="http://bloomberg.com/internalsystems/RsrvEegeoSvc">
  <wsdl:types>
    <xs:schema targetNamespace="http://bloomberg.com/internalsystems/RsrvEegeoSvc" elementFormDefault="qualified">
      <xs:complexType name="ErrorResponseType">
        <xs:sequence>
          <xs:element name="code" type="xs:int"/>
          <xs:element name="message" type="xs:string"/>
          <xs:element name="detail" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResultType">
        <xs:sequence>
          <xs:element name="rCode" type="xs:int"/>
          <xs:element name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <!--GetLocationDetails-->
      <xs:complexType name="FloorDetailType">
        <xs:sequence>
          <xs:element name="level" type="xs:int"/>
          <xs:element name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SpaceStatusType">
        <xs:sequence>
          <xs:element name="statusId" type="xs:int"/>
          <xs:element name="description" type="xs:string"/>
          <xs:element name="color" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>


      <xs:complexType name="LocationDetailType">
        <xs:sequence>
          <xs:element name="locationId" type="xs:string"/>
          <xs:element name="locationName" type="xs:string"/>
          <xs:element name="regionCode" type="xs:string"/>
          <xs:element name="floorDetails" type="tns:FloorDetailType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetLocationDetailsRequestType">
        <xs:sequence>
          <xs:element name="regionCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetLocationDetails" type="tns:GetLocationDetailsRequestType"/>

      <xs:complexType name="GetLocationDetailsResponseType">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultType"/>
          <xs:element name="locationDetails" type="tns:LocationDetailType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="spaceStatusDetails" type="tns:SpaceStatusType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetLocationDetailsResponse" type="tns:GetLocationDetailsResponseType"/>

    <!--GetEmployeeDetails-->
      <xs:complexType name="EmployeeDetailType">
        <xs:sequence>
          <xs:element name="uuid" type="xs:int"/>
          <xs:element name="FirstName" type="xs:string"/>
          <xs:element name="LastName" type="xs:string"/>
          <xs:element name="PictureId" type="xs:int"/>
          <xs:element name="DeptCode" type="xs:string"/>
          <xs:element name="DeptDescription" type="xs:string"/>
          <xs:element name="Office" type="xs:string"/>
          <xs:element name="Ext" type="xs:string"/>
          <xs:element name="Phone" type="xs:string"/>
          <xs:element name="Email" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetEmployeeDetailsRequestType">
        <xs:sequence>
          <xs:element name="regionCode" type="xs:string"/>
          <xs:element name="locationId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetEmployeeDetails" type="tns:GetEmployeeDetailsRequestType"/>

      <xs:complexType name="GetEmployeeDetailsResponseType">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultType"/>
          <xs:element name="employeeDetails" type="tns:EmployeeDetailType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetEmployeeDetailsResponse" type="tns:GetEmployeeDetailsResponseType"/>

      <!--GetDeskDetails-->
      <xs:complexType name="DeskDetailType">
        <xs:sequence>
          <xs:element name="locationId" type="xs:string"/>
          <xs:element name="spaceId" type="xs:string"/>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="floor" type="xs:string"/>
          <xs:element name="floorName" type="xs:string"/>
          <xs:element name="assignedPersonUuid" type="xs:int" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetDeskDetailsRequestType">
        <xs:sequence>
          <xs:element name="regionCode" type="xs:string"/>
          <xs:element name="locationId" type="xs:string" minOccurs="0"/>
          <xs:element name="floor" type="xs:string" minOccurs="0"/>
          <xs:element name="floorName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetDeskDetails" type="tns:GetDeskDetailsRequestType"/>

      <xs:complexType name="GetDeskDetailsResponseType">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultType"/>
          <xs:element name="deskDetails" type="tns:DeskDetailType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetDeskDetailsResponse" type="tns:GetDeskDetailsResponseType"/>


      <!--GetMeetingSpaceDetails-->
      <xs:complexType name="MeetingSpaceDetailType">
        <xs:sequence>
          <xs:element name="locationId" type="xs:string"/>
          <xs:element name="spaceId" type="xs:string"/>
          <xs:element name="floorName" type="xs:string"/>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="shortDescription" type="xs:string"/>
          <xs:element name="isAdmin" type="xs:boolean"/>
          <xs:element name="capacity" type="xs:int"/>
          <xs:element name="phone" type="xs:string"/>
          <xs:element name="tieline" type="xs:string"/>
          <xs:element name="nexi" type="xs:string"/>
          <xs:element name="isOccupancyEnabled" type="xs:boolean"/>
          <xs:element name="isTemporarilyDeactivated" type="xs:boolean"/>
          <xs:element name="spaceClassId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetMeetingSpaceDetailsRequestType">
        <xs:sequence>
          <xs:element name="regionCode" type="xs:string"/>
          <xs:element name="locationId" type="xs:string" minOccurs="0"/>
          <xs:element name="floorName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetMeetingSpaceDetails" type="tns:GetMeetingSpaceDetailsRequestType"/>

      <xs:complexType name="GetMeetingSpaceDetailsResponseType">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultType"/>
          <xs:element name="meetingSpaceDetails" type="tns:MeetingSpaceDetailType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetMeetingSpaceDetailsResponse" type="tns:GetMeetingSpaceDetailsResponseType"/>



      <!--GetMeetingSpaceOccupancyDetails-->
      <xs:complexType name="OccupancyDetailType">
        <xs:sequence>
          <xs:element name="spaceId" type="xs:string"/>
          <xs:element name="statusId" type="xs:int">
              <xs:annotation>
                <xs:documentation>status id is one of the supported values from GetLocationDetails.spaceStatusDetails.statusId</xs:documentation>
              </xs:annotation>
          </xs:element>
          <xs:element name="notes" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetMeetingSpaceOccupancyDetailsRequestType">
        <xs:sequence>
          <xs:element name="regionCode" type="xs:string"/>
          <xs:element name="locationId" type="xs:string" minOccurs="0"/>
          <xs:element name="floorName" type="xs:string" minOccurs="0"/>
          <xs:element name="spaceId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetMeetingSpaceOccupancyDetails" type="tns:GetMeetingSpaceOccupancyDetailsRequestType"/>

      <xs:complexType name="GetMeetingSpaceOccupancyDetailsResponseType">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultType"/>
          <xs:element name="meetingSpaceOccupancyDetails" type="tns:OccupancyDetailType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetMeetingSpaceOccupancyDetailsResponse" type="tns:GetMeetingSpaceOccupancyDetailsResponseType"/>

      <!--GetEmpBadgeDetails-->
      <xs:complexType name="EmpBadgeDetailType">
        <xs:sequence>
          <xs:element name="uuid" type="xs:int"/>
          <xs:element name="Badge" type="xs:string"/>
          <xs:element name="BadgeInOut" type="xs:int"/>
          <xs:element name="LogInStatus" type="xs:string"/>
          <xs:element name="OUTStatus" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetEmpBadgeDetailsRequestType">
        <xs:sequence>
          <xs:element name="UUIDs" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetEmpBadgeDetails" type="tns:GetEmpBadgeDetailsRequestType"/>

      <xs:complexType name="GetEmpBadgeDetailsResponseType">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultType"/>
          <xs:element name="empBadgeDetails" type="tns:EmpBadgeDetailType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetEmpBadgeDetailsResponse" type="tns:GetEmpBadgeDetailsResponseType"/>

      <xs:complexType name="ImageType">
        <xs:sequence>
          <xs:element name="imageId" type="xs:int"/>
          <xs:element name="data" type="xs:base64Binary"/>
        </xs:sequence>
      </xs:complexType>   

      <xs:complexType name="GetImageRequestType">
        <xs:sequence>
          <xs:element name="imageIds" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetImage" type="tns:GetImageRequestType"/>

      <xs:complexType name="GetImageResponseType">
        <xs:sequence>
          <xs:element name="result" type="tns:ResultType"/>
          <xs:element name="images" type="tns:ImageType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetImageResponse" type="tns:GetImageResponseType"/>

    </xs:schema>
  </wsdl:types>
  <!-- Messages -->

  <wsdl:message name="GetLocationDetailsRequest">
    <wsdl:part name="request" element="tns:GetLocationDetails"/>
  </wsdl:message>
  <wsdl:message name="GetLocationDetailsResponse">
    <wsdl:part name="response" element="tns:GetLocationDetailsResponse"/>
  </wsdl:message>

  <wsdl:message name="GetEmployeeDetailsRequest">
    <wsdl:part name="request" element="tns:GetEmployeeDetails"/>
  </wsdl:message>
  <wsdl:message name="GetEmployeeDetailsResponse">
    <wsdl:part name="response" element="tns:GetEmployeeDetailsResponse"/>
  </wsdl:message>

  <wsdl:message name="GetDeskDetailsRequest">
    <wsdl:part name="request" element="tns:GetDeskDetails"/>
  </wsdl:message>
  <wsdl:message name="GetDeskDetailsResponse">
    <wsdl:part name="response" element="tns:GetDeskDetailsResponse"/>
  </wsdl:message>

  <wsdl:message name="GetMeetingSpaceDetailsRequest">
    <wsdl:part name="request" element="tns:GetMeetingSpaceDetails"/>
  </wsdl:message>
  <wsdl:message name="GetMeetingSpaceDetailsResponse">
    <wsdl:part name="response" element="tns:GetMeetingSpaceDetailsResponse"/>
  </wsdl:message>

  <wsdl:message name="GetMeetingSpaceOccupancyDetailsRequest">
    <wsdl:part name="request" element="tns:GetMeetingSpaceOccupancyDetails"/>
  </wsdl:message>
  <wsdl:message name="GetMeetingSpaceOccupancyDetailsResponse">
    <wsdl:part name="response" element="tns:GetMeetingSpaceOccupancyDetailsResponse"/>
  </wsdl:message>

  <wsdl:message name="GetEmpBadgeDetailsRequest">
    <wsdl:part name="request" element="tns:GetEmpBadgeDetails"/>
  </wsdl:message>
  <wsdl:message name="GetEmpBadgeDetailsResponse">
    <wsdl:part name="response" element="tns:GetEmpBadgeDetailsResponse"/>
  </wsdl:message>

  <wsdl:message name="GetImageRequest">
    <wsdl:part name="request" element="tns:GetImage"/>
  </wsdl:message>
  <wsdl:message name="GetImageResponse">
    <wsdl:part name="response" element="tns:GetImageResponse"/>
  </wsdl:message>  

  <!-- Operations -->
  <wsdl:portType name="RsrvEegeoSvcPortType">
    <wsdl:operation name="GetLocationDetails">
      <wsdl:input message="tns:GetLocationDetailsRequest"/>
      <wsdl:output message="tns:GetLocationDetailsResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetEmployeeDetails">
      <wsdl:input message="tns:GetEmployeeDetailsRequest"/>
      <wsdl:output message="tns:GetEmployeeDetailsResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetDeskDetails">
      <wsdl:input message="tns:GetDeskDetailsRequest"/>
      <wsdl:output message="tns:GetDeskDetailsResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetMeetingSpaceDetails">
      <wsdl:input message="tns:GetMeetingSpaceDetailsRequest"/>
      <wsdl:output message="tns:GetMeetingSpaceDetailsResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetMeetingSpaceOccupancyDetails">
      <wsdl:input message="tns:GetMeetingSpaceOccupancyDetailsRequest"/>
      <wsdl:output message="tns:GetMeetingSpaceOccupancyDetailsResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetEmpBadgeDetails">
      <wsdl:input message="tns:GetEmpBadgeDetailsRequest"/>
      <wsdl:output message="tns:GetEmpBadgeDetailsResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetImage">
      <wsdl:input message="tns:GetImageRequest"/>
      <wsdl:output message="tns:GetImageResponse"/>
    </wsdl:operation>     

  </wsdl:portType>
  <!-- Bindings -->
  <wsdl:binding name="RsrvEegeoSvcBinding" type="tns:RsrvEegeoSvcPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetLocationDetails">
      <soap:operation soapAction="http://bloomberg.com/internalsystems/RsrvEegeoSvc/GetLocationDetails" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetEmployeeDetails">
      <soap:operation soapAction="http://bloomberg.com/internalsystems/RsrvEegeoSvc/GetEmployeeDetails" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetEmpBadgeDetails">
      <soap:operation soapAction="http://bloomberg.com/internalsystems/RsrvEegeoSvc/GetEmpBadgeDetails" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetDeskDetails">
      <soap:operation soapAction="http://bloomberg.com/internalsystems/RsrvEegeoSvc/GetDeskDetails" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetMeetingSpaceDetails">
      <soap:operation soapAction="http://bloomberg.com/internalsystems/RsrvEegeoSvc/GetMeetingSpaceDetails" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetMeetingSpaceOccupancyDetails">
      <soap:operation soapAction="http://bloomberg.com/internalsystems/RsrvEegeoSvc/GetMeetingSpaceOccupancyDetails" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://bloomberg.com/internalsystems/RsrvEegeoSvc/GetImage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>   

  </wsdl:binding>
  <wsdl:service name="RsrvEegeoSvc">
    <wsdl:port name="RsrvEegeoSvcPortType" binding="tns:RsrvEegeoSvcBinding">
      <soap:address location="http://sundev19:32428/internalsystems/RsrvEegeoSvc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>