db/asset-pipeline/meetingroom-occupancy/data/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMeetingSpaceDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="regionCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMeetingSpaceDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMeetingSpaceDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMeetingSpaceOccupancyDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="regionCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMeetingSpaceOccupancyDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMeetingSpaceOccupancyDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMeetingSpaceDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMeetingSpaceDetails" />
  </wsdl:message>
  <wsdl:message name="GetMeetingSpaceDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMeetingSpaceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMeetingSpaceOccupancyDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetMeetingSpaceOccupancyDetails" />
  </wsdl:message>
  <wsdl:message name="GetMeetingSpaceOccupancyDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetMeetingSpaceOccupancyDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetMeetingSpaceDetails">
      <wsdl:input message="tns:GetMeetingSpaceDetailsSoapIn" />
      <wsdl:output message="tns:GetMeetingSpaceDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMeetingSpaceOccupancyDetails">
      <wsdl:input message="tns:GetMeetingSpaceOccupancyDetailsSoapIn" />
      <wsdl:output message="tns:GetMeetingSpaceOccupancyDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMeetingSpaceDetails">
      <soap:operation soapAction="http://tempuri.org/GetMeetingSpaceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeetingSpaceOccupancyDetails">
      <soap:operation soapAction="http://tempuri.org/GetMeetingSpaceOccupancyDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMeetingSpaceDetails">
      <soap12:operation soapAction="http://tempuri.org/GetMeetingSpaceDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeetingSpaceOccupancyDetails">
      <soap12:operation soapAction="http://tempuri.org/GetMeetingSpaceOccupancyDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/webservice/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/webservice/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>